<h1>All the Animals</h1>
<h2>Rabbit:</h2>
<img src="./rabbit.png" alt="This is rabbit">

<h2>Cat:</h2>
<img src="./Folder3/cat.png" alt="This is cat">

<h2>Dog:</h2>
<img src="../dog.png" alt="This is dog">

<h2>Fish:</h2>
<img src="../Folder1/fish.png" alt="This is Fish">

<h2>Bird:</h2>
<img src="../Folder1/Folder2/bird.png" alt="This is Bird">