<!-- Kitten image URL -->
<h1>I am a Car Person</h1>
<img src="https://raw.githubusercontent.com/appbrewery/webdev/main/kitten.jpeg" alt="I am a Cat Person">


<!-- Puppy image URL -->
<h1>I am a Dog Person</h1>
<img src="https://raw.githubusercontent.com/appbrewery/webdev/main/puppy.gif" alt="I am a Dog Person">